.DS_Store
Thumbs.db
.idea
*.log
*.jdbc
*.iml
target
*.class
*.jar
*.war
*.ear
*.rar
*.ipr
*.iws
rebel.xml
*DB
*.dat
.classpath
.project
.settings
WebContent
*.vpp~*
*.vpdm
vpproject
.vpprefdata
*dummy*.*
*-soapui-project.xml
.lock
teamworkUser.xml
projectFilesBackup*
*.zip
*.gz

# OMG specification PDFs are referenced by clause, never committed (copyright)
/uml251-spec.pdf
*.spec.pdf
# Local documentation tooling
/tools/
